* {
    padding: 0;
    margin: 0;
}

html {
    scroll-behavior: smooth;
}

body {
    font-family: 'Kanit', sans-serif;
    height: 100%;

    background-image: url('codingbackground.jfif');
    height: 100%;

    background-attachment: fixed;
    background-position: stretch;
    background-repeat: no-repeat;
    background-size: cover;
}


/* Navigation Bar */

.top-nav {
    background-color: black;
}

.navbar {
    text-align: center;
    margin-right: 410px;
}

.navbar a {
    padding: 30px 30px;
    font-size: 35px;
    text-decoration: none;
    color: rgb(255, 190, 190);
}

.navbar button {
    padding: 12px 10px;
    margin-left: 40px;
    margin-top: 50px;
    border-radius: 30px;
    border: transparent;
    background-color: black;
}

.navbar button a {
    color: rgb(255, 190, 190);
}

.name {
    width: 550px;
}

.name h3 {
    font-size: 35px;
    color: white;
    margin-left: 150px;
    padding-top: 150px;
}


/* Title Section */

.top-title {
    background: linear-gradient(
        45deg,
        black 0%,
        black 60.5%,
        rgb(239, 184, 184) 60.5%,
        rgba(184, 38, 38, 0.845) 100%
    );

    width: 80%;
    height: 800px;
    margin: 0 auto;
    margin-top: 70px;
}

.title {
    font-size: 65px;
    margin-top: 0px;
    margin-bottom: 30px;
    color: rgba(197, 193, 193, 0.946);
}

.title-paragraph {
    font-size: 30px;
    color: white;
    margin-bottom: 30px;
}

.professional-picture {
    margin-top: -55px;
    border-radius: 12%;
    width: 329px;
    height: 450px;
    box-shadow: -2px 5px 10px rgba(184, 38, 38, 0.591);
}

.title-section {
    display: flex;
    justify-content: space-evenly;
}

.title-buttons {
    margin-top: 20px;
    margin-left: 30px;
}

.title-buttons a {
    text-decoration: none;
    color: black;
}

.title-buttons .fa {
    font-size: 32px;
    text-decoration: none;
    color: rgb(255, 190, 190);
    padding-right: 35px;
}

.button-cv {
    font-family: 'Kanit', sans-serif;
    font-weight: 400;
    letter-spacing: 0.1em;
    padding: 8px 6px;
    width: 150px;
    margin-right: 50px;
    font-size: 18px;
    border: 1px solid transparent;
    border-radius: 15px;
    background-color: rgb(255, 190, 190);
}

.button-contact {
    font-family: 'Kanit', sans-serif;
    font-weight: 400;
    letter-spacing: 0.1em;
    padding: 8px 6px;
    width: 150px;
    margin-right: 50px;
    font-size: 18px;
    border: 1px solid transparent;
    border-radius: 15px;
    background-color: white;
}


/* About Section */

.about-section {
    background: linear-gradient(
        135deg,
        rgb(239, 184, 184) 0%,
        rgba(184, 38, 38, 0.845) 60.5%,
        black 60.5%,
        black 100%
    );

    width: 80%;
    height: 800px;
    margin: 0 auto;
    margin-top: 70px;
    position: relative;
}

.about-container h2 {
    color: black;
    font-size: 50px;
    padding-top: 60px;
    margin-left: 50px;
    font-weight: 400;
}

.about-paragraph strong {
    color: white;
    letter-spacing: 0.15em;
}

.about-paragraph {
    font-size: 23px;
    margin-left: 70px;
}

.skills {
    display: flex;
    flex-direction: row;
    margin-top: 35px;
    margin-left: 70px;
    height: 165px;
}

.skills li {
    list-style: none;
    font-size: 24px;
}

.skills1, .skills2, .skills3 {
    border-right: 1px solid black;
}


.skills1, .skills2, .skills3, .skills4 {
    
    padding: 15px;
    background-color: rgba(185, 185, 185, 0.337);
}

.skills-container {
    display: flex;
    justify-content: space-between;
}

.coding-picture {
    position: absolute;
    top: 55%;
    bottom: 0;
    left: 75%;
    right: 0;
}

.coding-picture img {
    width: 300px;
    height: 300px;
}


/* Projects Section */

.projects-section {
    background: linear-gradient(
        35deg,
        rgb(239, 184, 184) 0%,
        rgba(184, 38, 38, 0.845) 80%,
        black 80%,
        black 100%
    );

    width: 80%;
    height: 800px;
    margin: 0 auto;
    margin-top: 70px;
}

.projects-title {
    width: 400px;
    height: 100px;
    float: right;
}

.projects-title h2 {
    font-size: 50px;
    color: white;
    margin-right: 30px;
    padding-top: 10px;
    text-align: right;
}

.projects-section .projects-container {
    margin-right: 0px;
}

.projects-container {
    width: 1520px;
    height: 600px;
    display: flex;
    justify-content: center;
    gap: 120px;
}



.project-card {
    border: 1px solid black;
    border-radius: 10px;
    background-color: black;
    box-shadow: 8px 5px 20px black;
    width: 525px;
    height: 450px;
    margin-top: 75px;
}

.project-card a {
    display: none;
    text-decoration: none;
    color: white;
    font-size: 35px;
    background-color: transparent;
    position: absolute;
    margin-left: 187px;
    margin-top: 120px;
    z-index: 5;
}

.project-card:hover a {
    display: block;
    cursor: pointer;
}

.project-card img {
    width: 525px;
    height: 285px;
    border-radius: 10px;
    filter: blur(0);
    transition: 0.5s ease-in-out;
}

.project-card:hover img {
    filter: blur(2px);
    opacity: calc(30%);
    transition: 0.5s ease-in-out;
}

.project-card h3 {
    margin-top: 10px;
    font-size: 22px;
    text-align: center;
    color: white;
}

.project-card p {
    text-align: center;
    margin-top: 8px;
    color: white;
}





/* UI Designs Section */

.ui-section {
    background: linear-gradient(
        145deg,
        black 0%,
        black 18%,
        rgba(184, 38, 38, 0.845) 18%,
        rgb(239, 184, 184) 100%
    );

    width: 80%;
    height: 800px;
    margin: 0 auto;
    margin-top: 70px;
}

.ui-title h2 {
    color: white;
    font-size: 50px;
    margin-left: 50px;
}

.ui-title p {
    color: white;
    font-size: 30px;
    margin-left: 75px;
}

.ui-title h3 {
    font-size: 30px;
    text-align: center;
    color:rgb(255, 255, 255);
    margin-bottom: 4px;
}

.ui-title h4 {
    font-size: 26px;
    text-align: center;
}

.ui-design1 {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: -20px;
    border: 1px solid black;
    border-radius: 10px;
    background-color: black;
    box-shadow: 8px 5px 20px black;
    width: 900px;
    height: 610px;
    margin-left: 311px;
}

.ui-design1 a {
    display: none;
    text-decoration: none;
    color: white;
    font-size: 35px;
    background-color: transparent;
    position: absolute;
    margin-top: 225px;
    z-index: 5;
}

.ui-design1:hover a {
    display: block;
    cursor: pointer;
}

.ui-design1 img {
    width: 900px;
    height: 480px;
    border-radius: 10px;
    filter: blur(0);
    transition: 0.5s ease-in-out;
}

.ui-design1:hover img {
    filter: blur(2px);
    opacity: calc(60%);
    transition: 0.5s ease-in-out;
}

.ui-design1 h3 {
    color: white;
    font-size: 26px;
    margin-top: 20px;
}

.ui-design1 p {
    color: white;
    margin-top: 10px;
    font-size: 20px;
    text-align: center;
}


/* Individual UI Designs */

.ui-design-container {
    width: 80%;
    height: 800px;
    margin: 0 auto;
    margin-top: 70px;
}

.ui-design-container img {
    width: 1537px;
    height: 800px;
}

.ui-container2 {
    display: flex;
    justify-content: center;
    gap: 120px;
}

.ui-design2 {
    border: 1px solid black;
    border-radius: 10px;
    background-color: black;
    box-shadow: 8px 5px 20px black;
    width: 525px;
    height: 450px;
    margin-top: 60px;
}

.ui-design2 img {
    width: 525px;
    height: 285px;
    border-radius: 10px;
    filter: blur(0);
    transition: 0.5s ease-in-out;
}

.ui-design2:hover img {
    filter: blur(2px);
    opacity: calc(30%);
    transition: 0.5s ease-in-out;
}

.ui-design2 a {
    display: none;
    text-decoration: none;
    color: white;
    font-size: 35px;
    background-color: transparent;
    position: absolute;
    margin-left: 187px;
    margin-top: 120px;
    z-index: 5;
}

.ui-design2:hover a {
    display: block;
    cursor: pointer;
}

.ui-design2 h3 {
    margin-top: 10px;
    font-size: 22px;
    text-align: center;
    color: white;
}

.ui-design2 p {
    text-align: center;
    margin-top: 8px;
    color: white;
}




/* Contact Section */

.contact-section {
    background: linear-gradient(
        135deg,
        rgb(239, 184, 184) 0%,
        rgba(184, 38, 38, 0.845) 60.5%,
        black 60.5%,
        black 100%
    );

    width: 80%;
    height: 800px;
    margin: 0 auto;
    margin-top: 70px;
    margin-bottom: 100px;
    position: relative;
}

.contact-title h2 {
    color: black;
    font-size: 50px;
    padding-top: 40px;
    margin-left: 50px;
    font-weight: 400;
}

.contact-container {
    margin-top: 35px;
    border: 1px solid black;
    border-radius: 10px;
    background-color: rgb(23, 23, 23);
    width: 265px;
    margin-left: 120px;
    color: white;
    box-shadow: 0px 0px 20px black;
    padding: 30px;
}

.contact-container label {
    font-size: 22px;
    font-weight: 400;
}

.contact-container input {
    border-radius: 7px;
    padding: 7px;
    font-family: 'Kanit', sans-serif;
    font-size: 20px;
}

.contact-container h4 {
    font-size: 18px;
    font-weight: 500;
    margin-bottom: 10px;
}

.radio-reasons {
    display: inline-block;
    font-size: 16px;
}

.contact-container textarea {
    border-radius: 7px;
    font-family: 'Kanit', sans-serif;
    font-size: 16px;
    padding: 5px;
    margin-bottom: 10px;
}

.button-container {
    display: flex;
    justify-content: center;
}

.button-container .submit {
    font-size: 20px;
    background-color: rgb(255, 190, 190);
}

.coding-picture2 {
    position: absolute;
    top: 55%;
    bottom: 0;
    left: 75%;
    right: 0;
}

.coding-picture2 img {
    width: 300px;
    height: 300px;
}


/* Success Page */

.success-section {
    background: linear-gradient(
        135deg,
        rgb(239, 184, 184) 0%,
        rgba(184, 38, 38, 0.845) 60.5%,
        black 60.5%,
        black 100%
    );

    width: 80%;
    height: 800px;
    margin: 0 auto;
    margin-top: 70px;
    margin-bottom: 100px;
}

.success-text {
    width: 462px;
    text-align: center;
    color: white;
    font-size: 22px;
    margin-left: 50px;
    margin-top: 50px;
}

.success-logo {
    position: absolute;
    top: 45%;
    bottom: 0;
    left: 70%;
    right: 0;
}

.success-logo img {
    width: 300px;
    height: 300px;
}